.popin-sub-title {
    font-family: "Parisine Ptf, Regular";
    color: #333333de;
    font-size: 12px;
    height: 29px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    line-height: 12px;
  }