.table-body {
  font-size: 14px;
}

.table-header {
  font-size: 14px;
  background: #f9fafb;
}
.table-header th {
  margin-left: 76px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background: white;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background: #fafafb;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #dff7f3;
}

.table-borderless tbody + tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 74px;
}

.table-borderless th,
.table-borderless tr {
  border-bottom: 1px solid #e2e2e3 !important;
}

/* responsiveness */
@media (max-width: 960px) {
  .table thead {
    display: none;
  }
  .table tr {
    display: block;
  }
  .table td {
    display: block;
    text-align: right;
  }
  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  .table-borderless th {
    border-bottom: 0px solid transparent !important;
  }

  .table-borderless tr {
    border-bottom: 0px solid transparent !important;
  }

  .table-striped > tbody > tr:nth-child(odd) > td,
  .table-striped > tbody > tr:nth-child(odd) > th {
    background: transparent;
  }

  .table-borderless tbody + tbody,
  .table-borderless td,
  .table-borderless th,
  .table-borderless thead th {
    padding: 7px 2rem;
  }

  .table-striped > tbody > tr > td:last-child {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e2e2e3;
  }
  .table-striped > tbody > tr > td:first-child {
    padding-top: 1rem;
  }
}

@media (max-width: 560px) {
  .table-container {
    padding: 0;
  }
}
