.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0px;
}
.delete-button {
  top: 760px;
  left: 708px;
  width: 138px;
  height: 36px;
  background: var(--text-color-pink) 0% 0% no-repeat padding-box !important;
  border-radius: 4px;
  opacity: 1;
  border-color: unset;
  border-color: var(--text-color-pink) !important;
  border-bottom-color: var(--text-color-pink) !important;
}

.cancel-button {
  top: 760px;
  left: 1075px;
  width: 91px;
  height: 36px;
  background: #e0e1e2 0% 0% no-repeat padding-box !important;
  border-radius: 4px;
  opacity: 1;
  border-color: unset;
  border-color: #e0e1e2 !important;
  border-bottom-color: #e0e1e2 !important;
}

.save-button {
  top: 760px;
  left: 1188px;
  width: 140px;
  height: 36px;
  margin-left: 22px;
  background: var(--global-color-primary-darker) 0% 0% no-repeat padding-box !important;
  border-radius: 4px;
  opacity: 1;
  border-color: unset;
  border-color: var(--global-color-primary-darker) !important;
  border-bottom-color: var(--global-color-primary-darker) !important;
}

.save-button-label {
  text-align: center;
  font-family: 'Parisine Ptf, Bold', Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff !important;
  opacity: 1;
}

.delete-button-label {
  text-align: center;
  font-family: 'Parisine Ptf, Bold', Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  color: #ffffff !important;
  opacity: 1;
}

.cancel-button-label {
  text-align: center;
  font-family: 'Parisine Ptf, Bold', Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  color: #000000de !important;
  opacity: 1;
}

.hover-save:hover {
  background: #090068 0% 0% no-repeat padding-box !important;
  border-color: #090068 !important;
  border-bottom-color: #090068 !important;
}
.hover-delete:hover {
  background: #b8295d 0% 0% no-repeat padding-box !important;
  border-color: #b8295d !important;
  border-bottom-color: #b8295d !important;
}
.hover-cancel:hover {
  background: #c2c3c4 0% 0% no-repeat padding-box !important;
  border-color: #c2c3c4 !important;
  border-bottom-color: #c2c3c4 !important;
}

@media (max-width: 900px) {
  .delete-button,
  .save-button {
    width: 100px;
    margin-left: 0;
  }
  .right-button {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
  }
}
