.popin-sub-title {
  font-family: 'Parisine Ptf, Regular';
  color: #333333de;
  font-size: 12px;
  height: 29px;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  line-height: 12px;
}

.select-text {
  max-height: 38px;
  text-align: left;
  font-family: 'Parisine Ptf, Regular';
  font-size: 14px;
  letter-spacing: 0px;
  color: #000000de;
  opacity: 1;
  background-image: url(../../../../assets/icons/svg/nav-icons/dropdown-grey.svg);
}
