.credentials-header-container {
  width: 100%;
  background-color: white;
  position: sticky;
  top: var(--nav-height);
  z-index: 2;
}

.credentials-header-container .credentials-header {
  display: flex;
  padding: 2rem 0;
}

.credentials-header-container .header-title {
  margin-bottom: 10px;
  margin-bottom: 0;
}

.credentials-header-container .header-subtitle {
  font-size: 12px;
}

.credentials-header-container .header-bottom {
  color: #e2e2e3;
  width: 100%;
  margin: 0;
  padding: 0;
}

.custom-button {
  font-size: 14px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-left: 26px !important;
  padding-right: 26px !important;
}

.header-container-action-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.header-container-action-close {
  margin-left: 120px;
}

/* responsiveness */

@media (max-width: 960px) {
  .credentials-header .custom-button {
    font-size: 14px !important;
    padding: 5px 15px !important;
  }

  .show-mobile > .custom-button {
    display: inherit;
  }

  .hide-mobile > .custom-button {
    display: none;
  }

  .credentials-header-container hr {
    display: none;
  }
}

@media (max-width: 400px) {
  .credentials-header-container {
    padding-right: 0;
  }
  .credentials-header .custom-button {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
