.popin-title {
    height: 39px;
    font-family: "Montserrat, Bold";
    font-size: 24px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000de;
    opacity: 1;
  }

  .popin-sub-title {
    font-family: "Parisine Ptf, Regular";
    color: #333333de;
    font-size: 12px;
    height: 29px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    line-height: 12px;
  }