/* Containers */

.modal-content {
  max-width: 747px;
  min-width: 747px;
  max-height: 620px;
  min-height: 620px;
}

.modal-header {
  padding-left: 45px;
  padding-top: 27px;
  padding-bottom: 0px;
  padding-right: 35.5px;
  align-items: inherit;
  justify-content: inherit;
  display: inline;
  border-bottom: none;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  min-height: 95px;
  max-height: 95px;
}
.modal-backdrop {
  background-color: #dff7f3;
}
/* Divider */
.modal-header:after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid #dee2e6;
}

.modal-body {
  padding-left: 63px;
  padding-top: 0px;
  padding-right: 64px;
  padding-bottom: 0px;
  max-height: 368px;
  min-height: 368px;
  flex: unset;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding-right: 64px;
  padding-top: 54px;
  padding-bottom: 63px;
  padding-left: 60px;
  border-top: none;
  margin: 0px !important;
  min-height: 153px;
  max-height: 153px;
}

.user-pop-in-container {
  padding: 20px;
}

.form-group {
  padding-top: 36px;
  margin-bottom: 0px;
  max-height: 92px;
}

/* Text formatting */

.popin-title {
  height: 39px;
  font-family: 'Montserrat, Bold';
  font-size: 24px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000de;
  opacity: 1;
}

.popin-sub-title {
  font-family: 'Parisine Ptf, Regular', Arial, Helvetica, sans-serif;
  color: #333333de;
  font-size: 12px;
  height: 29px;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  line-height: 12px;
}

.form-label {
  margin-bottom: 2px;
}

/* Button formatting */

.modal-header .close {
  padding-right: 15px;
  padding-top: 7px;
  outline: none !important;
  outline-offset: none !important;
}

.close {
  font-size: 2.5rem;
  font-weight: 500;
}

.custom-hover.btn-primary:hover {
  opacity: 50%;
}

.close.btn-primary:hover {
  color: unset;
  background-color: unset;
  border-color: unset;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0px;
}

@media (max-width: 900px) {
  .user-pop-in-container {
    padding: 0;
    margin: 0;
  }
  .modal-content {
    top: 0;
    position: absolute;
    left: 0;
    max-width: none;
    min-width: 100vw;
    max-height: none;
    min-height: 100vh;
  }
}
