.btn-primary {
    background-color: #0a007d !important;
    border-color: #0a007d !important;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #0a007d !important;
    border-color: #0a007d !important;
    border-bottom-color: #0a007d !important;
}